/* Global Styles */
* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;
}

.navigation a:hover {
    color: #58034c;
}

#odoo {
    color: #58034c;
}

/* Main Section */
section {
    padding: 100px 150px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(ahmed.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #f0f0f0;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #58034c;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #58034c;
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

/* Cards Section */
.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.15);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

/* Project Section */
.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-image img {
    width: 100%;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.more-details {
    text-decoration: none;
    color: #3a6cf4;
}

.more-details:hover {
    color: rgb(163, 45, 45);
}

/* Footer */
.footer {
    background-color: #060620;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #66085a;
}

/* Media Queries */

/* For tablets and smaller devices */
@media (max-width: 1024px) {
    header {
        padding: 10px 50px;
    }

    .logo {
        font-size: 1.5em;
    }

    .navigation a {
        padding-left: 20px;
        font-size: 0.9em;
    }

    section {
        padding: 80px 50px;
    }

    .card,
    .project-card {
        width: 100%;
        margin: 15px 0;
    }
}

/* For smartphones */
@media (max-width: 768px) {
    header {
        padding: 10px 20px;
        flex-direction: column;
    }

    .logo {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .navigation {
        display: flex;
        flex-direction: column;
    }

    .navigation a {
        padding: 5px;
        font-size: 1em;
    }

    .main {
        padding: 60px 30px;
        text-align: center;
    }

    .main h2,
    .main h3 {
        font-size: 1.5em;
    }

    .main-btn {
        padding: 0.5em 1.5em;
    }

    .social-icons {
        margin-top: 20px;
    }

    section {
        padding: 60px 30px;
    }

    .card {
        width: 100%;
    }
}

/* For small phones */
@media (max-width: 480px) {
    header {
        padding: 10px 10px;
    }

    .main h2 {
        font-size: 1.2em;
    }

    .main h3 {
        font-size: 1.1em;
    }

    .project-card {
        margin: 10px 0;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }
}
